.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.header {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-overlay {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__container-navigation {
  display: flex;
  align-items: center;
}

.header__logo-size {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo-size {
    max-width: 768px;
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo-size {
    max-width: 1200px;
    padding: 24px 0 25px;
  }
}

.header__logo {
  color: #2196F3;
}

.header__logo1 {
  color: #000000;
}

.header__logo-font {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__navigation {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation:hover, .header__navigation:focus {
  color: #2196F3;
}

.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    gap: 50px;
    padding-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    max-width: 1200px;
    margin-left: 92px;
    display: flex;
    gap: 50px;
  }
}

.header__unit {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__unit:hover, .header__unit:focus {
  color: #2196F3;
}

.header__connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__connect {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row;
  }
}

.header__img {
  margin-right: 10px;
  fill: currentColor;
}

.menu-open {
  display: block;
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  fill: #000000;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 2;
  background-color: #ffffff;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-window__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 40px;
  overflow-y: auto;
  transform: translateX(0%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-window.is-hidden .menu-window__container {
  transform: translateX(-101%);
}

.menu-close {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close__icon {
  fill: currentColor;
}
.menu-close:hover, .menu-close:focus {
  color: #2196F3;
}

.menu-list__link {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 32px;
  max-width: 100%;
  margin-bottom: 64px;
}

.menu-contacts__item:first-child {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .menu-contacts__item:first-child {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.176;
    letter-spacing: 0.02em;
  }
}
.menu-contacts__item:last-child {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contacts__link {
  color: currentColor;
}

.menu-list__link:hover, .menu-list__link:focus {
  color: #2196F3;
}

.menu-soc-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.menu-soc-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-soc-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.current {
  color: #2196F3;
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -33px;
  background: #2196F3;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-m.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-m@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-m@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-t.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-t.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-t@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-t@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-d.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-d.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-d@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-d@2x.jpg);
  }
}
.hero__container {
  text-align: center;
  max-width: 480px;
}
@media screen and (min-width: 480px) {
  .hero__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 1200px;
  }
}

.hero__title {
  color: #ffffff;
}

.hero__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .hero__text {
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    margin-top: 0;
    font-size: 44;
    line-height: 1.36;
    text-align: center;
  }
}

.hero__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  color: #FFFFFF;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__pre-img {
  max-width: 100%;
  max-width: 486px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .benefits__pre-img {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__pre-img {
    max-width: calc((100% - 120px) / 4);
  }
}

.benefits__img {
  max-width: 100%;
  max-width: 486px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .benefits__name {
    text-align: center;
  }
}

.benefits__title {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .doing {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.doing__section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.doing__picture-title {
  display: flex;
  gap: 30px;
}

.doing__picture {
  align-items: center;
}

.doing__title {
  position: relative;
}

.doing__text {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
}

.team {
  color: #212121;
  padding: 94px 15px;
}

.team__background {
  background-color: #F5F4FA;
}

.team__container {
  text-align: center;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__corporate {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team__corporates {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__corporates {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__corporates {
    max-width: calc((100% - 120px) / 4);
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  padding-top: 30px;
}

.team__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
  color: #757575;
}

.team__social {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.team__social-list {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-list:hover, .team__social-list:focus {
  background-color: #2196F3;
}

.team__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-list:hover .team__icon, .team__social-list:focus .team__icon {
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.client__post-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

.client__img {
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__img:hover, .client__img:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .client-item {
    max-width: calc((100% - 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    max-width: calc((100% - 120px) / 6);
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  align-items: baseline;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 93px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

.footer__contacts {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__contacts {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 165px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    gap: 70px;
    align-items: baseline;
  }
}

.footer__title {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .footer__title {
    text-align: center;
    align-items: center;
    margin-right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
    align-items: center;
    margin-right: 0;
  }
}

.footer__subscribe {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1/14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .footer__subscribe {
    text-align: center;
    align-items: center;
    margin-right: 0;
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__subscribe {
    text-align: center;
    align-items: center;
    margin-right: 0;
    margin-top: 60px;
  }
}

.footer__list {
  list-style: none;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .footer__list {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: left;
    align-items: center;
  }
}

.footer__logo-size {
  margin-bottom: 20px;
  text-align: start;
  align-items: center;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .footer__logo-size {
    text-align: center;
    align-items: center;
    margin-right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .footer__logo-size {
    text-align: center;
    align-items: center;
    margin-right: 0;
  }
}

.footer__logo {
  color: #2196F3;
}

.footer__logo-font {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__logo2 {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__navigation {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__navigation:hover, .footer__navigation:focus {
  color: #2196F3;
}

.footer__address-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: block;
}

.footer__navigation-address {
  color: #ffffff;
}

.footer__item-color {
  color: #757575;
}

@media screen and (max-width: 767px) {
  .join-up {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .join-up {
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
}
@media screen and (min-width: 1200px) {
  .join-up {
    display: block;
    text-align: left;
  }
}

.join-up__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.join-up__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.join-up__social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-up__social:hover, .join-up__social:focus {
  background-color: #2196F3;
}

.join-up__icon {
  fill: #ffffff;
}

.footer-form {
  display: block;
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 0;
  }
}

.footer-form__group {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-form__group {
    display: flex;
    gap: 12px;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms #2196F3;
  outline: none;
}
.footer-form__input:hover, .footer-form__input:focus {
  outline: none;
  border: 1px solid #2196F3;
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196F3;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .footer__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.backdrob {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrob.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal__title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.modal__input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196F3;
}

.modal__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__input-icon, .modal__input:focus + .modal__input-icon {
  fill: #2196F3;
}

.modal__field-textarea {
  margin-bottom: 20px;
}

.modal__text {
  display: block;
  width: 100%;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
  padding: 16px 12px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal__rules-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__rules-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__check:checked + .modal__rules-text span {
  background-color: #2196F3;
  border: none;
}

.modal__rules-text {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 7px;
  line-height: 1.17;
}

@media screen and (min-width: 480px) {
  .modal__rules-text {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal__rules-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__check-icon {
  opacity: 0;
}
.modal__check:checked + .modal__rules-text .modal__check-icon {
  fill: #ffffff;
  opacity: 1;
}

.modal__rules-link {
  padding-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .modal__rules-link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal__rules-link {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__title-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: 30px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  padding: 10px 32px;
  cursor: pointer;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  color: #000000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  color: #2196F3;
}

.modal__icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__button {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .portfolio__button {
    margin-bottom: 50px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__button {
    justify-content: center;
  }
}

.portfolio__button-secondary {
  color: #212121;
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button-secondary:hover, .portfolio__button-secondary:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.portfolio__work {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__work {
    justify-content: start;
  }
}

.portfolio__text-position {
  max-width: 450px;
  min-width: 290px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio__text-position {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__text-position {
    width: 370px;
  }
}
.portfolio__text-position:hover, .portfolio__text-position:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__text:hover .portfolio__text-position:hover, .portfolio__text:focus .portfolio__text-position:hover, .portfolio__text:hover .portfolio__text-position:focus, .portfolio__text:focus .portfolio__text-position:focus {
  transform: translateY(101%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__text-wrap {
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio__text:hover, .portfolio__text:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__text-position:hover .portfolio__text,
.portfolio__text-position:focus .portfolio__textt {
  transform: translateY(0%);
}

.portfolio__card {
  background: #ffffff;
  padding: 20px 24px;
  border-top: none;
  flex-grow: 1;
}

.section-portfolio {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__title {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.container {
  min-width: 320px;
  max-width: 480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrob {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrob.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal__title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.modal__input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196F3;
}

.modal__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__input-icon, .modal__input:focus + .modal__input-icon {
  fill: #2196F3;
}

.modal__field-textarea {
  margin-bottom: 20px;
}

.modal__text {
  display: block;
  width: 100%;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
  padding: 16px 12px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal__rules-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__rules-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__check:checked + .modal__rules-text span {
  background-color: #2196F3;
  border: none;
}

.modal__rules-text {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 7px;
  line-height: 1.17;
}

@media screen and (min-width: 480px) {
  .modal__rules-text {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal__rules-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__check-icon {
  opacity: 0;
}
.modal__check:checked + .modal__rules-text .modal__check-icon {
  fill: #ffffff;
  opacity: 1;
}

.modal__rules-link {
  padding-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .modal__rules-link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal__rules-link {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__title-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: 30px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  padding: 10px 32px;
  cursor: pointer;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  color: #000000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  color: #2196F3;
}

.modal__icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.current {
  color: #2196F3;
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -33px;
  background: #2196F3;
  border-radius: 2px;
}/*# sourceMappingURL=main.css.map */