.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__button{
    display: flex;
    gap: 8px;
    margin-bottom: 56px;
    justify-content: center; 
}

.portfolio__button-secondary{
    color: $first-color;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: $white-text-color;
    background-color: $hover-focus-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
}

.portfolio__item{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
}

.portfolio__work{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio__text-position{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    .portfolio__text:hover &,
    .portfolio__text:focus &{
    transform: translateY(101%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
}
}

.portfolio__text-wrap{
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;    
    color: $white-text-color;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}
}

.portfolio__text-position:hover .portfolio__text,
.portfolio__text-position:focus .portfolio__textt{
    transform: translateY(0%);
    
}

.portfolio__card{
    background: $white-text-color;
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
    border-top: none;

}

.section-portfolio{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $first-color;
    margin-bottom: 4px;
}

.portfolio__title{
    color: $secondary-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

